.x-msgbox-dark.x-msgbox {
    background: #fefefe;
    border: 1px solid $main-border;
    @include border-radius($main-border-radius);
    .x-msgbox-buttons {
        .x-toolbar-inner {
            .x-button {
                border: 1px solid $main-border;
                border-bottom-width: 0;
                .x-button-label {
                    color:$main-color;
                    font-weight: normal;
                    font-size:16px !important;
                }
                &.x-button-action {
                    .x-button-label {
                        font-weight: bold;
                        font-size:16px !important;
                    }
                }
            }
        }
    }
    .x-toolbar {
        height:24px !important;
        .x-title {
            .x-innerhtml {
                color:$main-color;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
    .x-dock-body {
        margin: 5px;
    }
    .x-msgbox-inner {
        .x-innerhtml {
            color:$main-color;
            font-weight: normal;
            font-size: 1em;
            line-height: 1.2em;
        }
    }
}

.x-picker-slot.x-picker-right, .x-picker-slot.x-picker-left{
    text-align: center;
}


.x-panel.x-floating.reminder {
    @include border-radius($main-border-radius);
    border: 1px solid $main-border;
    background: $main-bg;
    .x-inner.x-panel-inner {
        background-color: transparent;
        .x-innerhtml {
            text-align: center;
            color:$text-color;
            padding: 8px;
        }
    }
    .rate-header {
        .x-inner.x-panel-inner {
            .x-innerhtml {
                color: $main-color;
                font-size:20px !important;
                font-weight: normal;
            }
        }
    }
    .x-button-normal.x-button{
        border: 0;
        @include border-radius(0 0 );
        border-top: 1px solid $main-border;
        height: 40px;
        margin: 0;
        .x-button-label {
            color: $main-color;
            font-size:16px !important;
        }
        &.x-button-pressing {
            color: $main-color;
        }
        &.cancel {
            @include border-radius(0 0 $main-border-radius $main-border-radius);
        }
        &.rate-now {
            .x-button-label {
                font-weight: bold;
            }
        }
    }
}


.x-mask.x-loading-mask {
    .x-loading-spinner {
        background: url('../images/load.gif') no-repeat;
        background-size: 44px 44px;
        background-position: 50%;
        width: 60px;
        height: 60px;
        -webkit-animation-name: null;

        span {
            background-color: rgba(0,0,0,0);
            &:before, &:after {
                background-color: rgba(0,0,0,0);
            }
        }
    }
    .x-mask-inner {
        background:transparent;
    }
}
.x-msgbox .x-msgbox-buttons .x-toolbar-inner .x-button .x-button-label, .x-msgbox .x-msgbox-buttons .x-toolbar-inner .x-button .x-badge {
    font-size:16px !important;
}
