@charset "UTF-8";
@font-face
{
    font-family: pictonic;
    src: url("../fonts/pictonic.eot");
    src: url("../fonts/pictonic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/pictonic.ttf") format("truetype"),
        url("../fonts/pictonic.woff") format("woff"),
        url("../fonts/pictonic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.pictonic
{
    font-family: "pictonic";
    font-weight: normal; font-style: normal;
    -webkit-font-smoothing:  antialiased !important;
    -moz-font-smoothing:  antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-smoothing:  antialiased !important;
    line-height:1em;

}

a.pictonic, span.pictonic, small.pictonic {
    display: -moz-inline-stack;
    display:inline-block;
    zoom: 1;
    *display: inline;
}

[class^="pictonic"], [class*="pictonic"]
{
    font-family: "pictonic" !important;
    font-weight: normal; font-style: normal;
    -webkit-font-smoothing:  antialiased !important;
    -moz-font-smoothing:  antialiased !important;
    font-smoothing:  antialiased !important;
    line-height:1em;
    .x-button-label {
        padding-left: 5px;
    }
}

a[class^="pictonic"], a[class*="pictonic"], span[class^="pictonic"], span[class*="pictonic"], small[class^="pictonic"], small[class*="pictonic"] {
    display: -moz-inline-stack;
    display:inline-block;
    zoom: 1;
    *display: inline;
}

