// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).

@mixin big-btn() {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 3.9em;
    border: 0;
    outline: 0;
    width: 4em;
    height: 4em;
}
@mixin social-btn() {
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 95%;
}
@mixin small-btn() {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 2em;
    border: 0;
    outline: 0;
    width: 2em;
    height: 4em;
}

@mixin tab-bar-top-btn() {
    background-repeat: no-repeat;
    width: 2em;
    height: 100%;
    background-position: 50%;
    background-size: 24px;
}

@mixin tab-bar-bottom-btn() {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: 2em;
}
@mixin list-selectors() {
    background-repeat: no-repeat;
    @media (max-width: 320px) {
        background-position: 50% 15px;
    }
    @media (min-width: 321px) and (max-width: 480px) {
        background-position: 50% 64px;
    }
    @media (min-width: 481px) and (max-width: 768px) {
        background-position: 50% 124px;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        background-position: 50% 187px;
    }
    @media (min-width: 1025px){
        background-position: 187px;
    }
    background-position: 50% calc(100% - 5px);
    height:100%;
}

@import 'sencha-touch/cupertino';
$main-bg: #fff;
$main-border: #c5c6c6;
$main-border-radius: 5px;

$tab-bottom-bg:#1a1a1a;
$main-color:#168de2;
$main-light-color: #ffffff;
$text-color: #2b2a29;
$label-color: #2b2a29;
@import 'password';
@import 'carousel';
@import 'list';
@import 'msgbox';
@import 'tabpanel';
@import 'form';
@import 'settings';
@import 'sencha-touch/cupertino/all';
.left {
    float:left;
}
.right {
    float:right;
}
.clear {
    clear:both;
}
img {
    -webkit-border-image: none 100% 1 0 stretch;
}
.x-field-input .x-clear-icon {
    display: none;
}

.x-scroll-bar.active.x-scroll-bar-y {
    width: 3px;
}
.x-scroll-indicator.rounded > * {
  background-color:$main-color;
  opacity: 0.7;
}
.x-scroll-indicator.rounded > :nth-child(2) {
 background-color: $main-color;
 opacity: 0.7;
 content: ' ';
}
.x-field-clearable .x-field-input {
    padding-right: 0;
}

.x-list .x-list-item {
    border-top: 0px;
}

.x-toolbar .x-button {
    margin: 0
}

.x-item-disabled .x-form-label, .x-item-disabled input, .x-item-disabled .x-input-el, .x-item-disabled .x-spinner-body, .x-item-disabled select, .x-item-disabled textarea, .x-item-disabled .x-field-clear-container {
    color: rgb(0,0,0);
    opacity:1;
}
.x-container.x-field-textarea.x-field.add-dream-textarea, x-container.x-field-textarea.x-field.add-dream-textarea.x-item-disabled {
    padding-top:0;
}

.x-ios-7 {
        @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px) and (min-height:460px),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px) and (min-height:460px),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px) and (min-height:460px),
    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px) and (min-height:460px),
    only screen and (                min-resolution: 192dpi) and (min-width: 320px) and (min-height:460px),
    only screen and (                min-resolution: 2dppx)  and (min-width: 320px) and (min-height:460px) { 
        .x-container.x-form.drl-grey-form{
            .x-inner.x-form-inner {
                .x-form-fieldset{
                    .x-field-textarea.x-field.add-dream-textarea {
                        min-height: 74px;
                        textarea {
                            min-height: 74px;
                        }
                    }
                }
            }
        }


        .x-container.x-panel.blocked-panel.x-sized.x-floating {
            .logotip {
                margin-top:30px;
                height:60px;
            }

            .x-button-normal.rounded-button,  .x-button-normal.button-backspace {
                margin: 2px 0px;
                margin: calc(12px - 8px) 0px;
            }
        }
        .drl-carousel {
            .drl-carousel-inner-item {
                .drl-carousel-img {
                    .x-innerhtml {
                        height: 246px;
                    }
                }
            }
        }
    }
        @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px) and (min-height:548px),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px) and (min-height:548px),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px) and (min-height:548px),
    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px) and (min-height:548px),
    only screen and (                min-resolution: 192dpi) and (min-width: 320px) and (min-height:548px),
    only screen and (                min-resolution: 2dppx)  and (min-width: 320px) and (min-height:548px) { 
        .x-container.x-form.drl-grey-form{
            .x-inner.x-form-inner {
                .x-form-fieldset{
                    .x-field-textarea.x-field.add-dream-textarea {
                        min-height: 114px;
                        textarea {
                            min-height: 114px;
                        }
                    }
                }
            }
        }

        .x-container.x-panel.blocked-panel.x-sized.x-floating {
            .logotip {
                margin-top:40px;
                height:60px;
            }

            .x-button-normal.rounded-button,  .x-button-normal.button-backspace {
                margin: 6px 0px;
            }
        }

        .drl-carousel {
            .drl-carousel-inner-item {
                .drl-carousel-img {
                    .x-innerhtml {
                        height: 304px;
                    }
                }
            }
        }
    }
}
.x-ios-6 {
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px) and (min-height:460px),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px) and (min-height:460px),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px) and (min-height:460px),
    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px) and (min-height:460px),
    only screen and (                min-resolution: 192dpi) and (min-width: 320px) and (min-height:460px),
    only screen and (                min-resolution: 2dppx)  and (min-width: 320px) and (min-height:460px) { 
        .x-container.x-form.drl-grey-form{
            .x-inner.x-form-inner {
                .x-form-fieldset{
                    .x-field-textarea.x-field.add-dream-textarea {
                        min-height: 74px;
                        textarea {
                            min-height: 74px;
                        }
                    }
                }
            }
        }


        .x-container.x-panel.blocked-panel.x-sized.x-floating {
            .logotip {
                margin-top:10px;
                height:60px;
            }

            .x-button-normal.rounded-button,  .x-button-normal.button-backspace {
                margin: 2px 0px;
                margin: calc(12px - 8px) 0px;
            }
        }
        .drl-carousel {
            .drl-carousel-inner-item {
                .drl-carousel-img {
                    .x-innerhtml {
                        height: 266px;
                    }
                }
            }
        }
    }
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px) and (min-height:548px),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px) and (min-height:548px),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px) and (min-height:548px),
    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px) and (min-height:548px),
    only screen and (                min-resolution: 192dpi) and (min-width: 320px) and (min-height:548px),
    only screen and (                min-resolution: 2dppx)  and (min-width: 320px) and (min-height:548px) { 
        .x-container.x-form.drl-grey-form{
            .x-inner.x-form-inner {
                .x-form-fieldset{
                    .x-field-textarea.x-field.add-dream-textarea {
                        min-height: 114px;
                        textarea {
                            min-height: 114px;
                        }
                    }
                }
            }
        }

        .x-container.x-panel.blocked-panel.x-sized.x-floating {
            .logotip {
                margin-top:40px;
                height:60px;
            }

            .x-button-normal.rounded-button,  .x-button-normal.button-backspace {
                margin: 6px 0px;
            }
        }

        .drl-carousel {
            .drl-carousel-inner-item {
                .drl-carousel-img {
                    .x-innerhtml {
                        height: 304px;
                    }
                }
            }
        }
    }
}
